* text=auto

*.c text eol=lf
*.h text eol=lf
*.sh text eol=lf
Makefile text eol=lf
*.md text eol=lf
*.txt text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
.editorconfig text eol=lf
.clang-format text eol=lf
